<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>
        Super Rentals HQ
        <address>
            1212 Test Addres Avenue<br>
            Testington, OR 97233
        </address>
        <a href="tel:503.555.1212"> +1(503) 555-1212</a><br>
        <a href="mailto:superrentalsrep@emberjs.com">superrentalsrep@emberjs.com</a>
    </p>
    {{#link-to 'about' class="button"}}
    About
    {{/link-to}}
</div>
{{outlet}}